@import url("https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto:wght@500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap");
@import "variables_app";

html,
body {
    margin: 0;
    min-height: 100%;
    height: 100%;
    font-family: $font-family-yaldevi;
}

body {
    background: $leaves-image-phone no-repeat center center fixed;
    background-size: cover;

    @media screen and (min-width: 1000px) {
        background-image: $leaves-image-desktop;
    }
}

#app {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100%;
    padding-bottom: 15vh;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;
    padding: 1em;
}

.checkout-div {
    flex: 1;
    position: relative;
    background-color: $white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 7px 7px 13px #00000050, -7px -7px 13px #ffffff50;

    &.has-step-controls {
        padding-bottom: 5em;
    }
}

form {
    display: flex;
    max-width: 620px;
    min-height: 60vh;

    @media screen and (min-width: 500px) {
        width: 60%;
    }
}

h3 {
    text-align: center;
    margin: 0;
    padding-block: 1em;
}

.form-input {
    padding-bottom: 10px;
    margin: auto;

    @media screen and (min-width: 500px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    label {
        margin-inline: 10px;
        opacity: 0.7;
        flex-basis: 25%;
    }

    input,
    textarea,
    select,
    button,
    a {
        display: block;
        border: none;
        color: #000000b3;
        background-color: inherit;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        box-shadow: 7px 7px 13px #bcbcbc, -7px -7px 13px #fefefe;
        @supports (
            box-shadow: inset 7px 7px 13px #bcbcbc,
            inset -7px -7px 13px #fefefe
        ) {
            box-shadow: inset 7px 7px 13px #bcbcbc, inset -7px -7px 13px #fefefe;
        }
        transition: background-color 0.3s ease;

        &:focus {
            background-color: $form-green-focus;
        }
    }

    textarea {
        resize: none;
    }

    a {
        cursor: pointer;
    }

    input[type="submit"],
    button,
    a {
        width: auto;
        margin: auto;
        box-shadow: 7px 7px 13px #bcbcbc, -7px -7px 13px #fefefe;
        transition: background-color 0.3s ease;

        &:hover,
        &:focus {
            width: auto;
            margin: auto;
            background-color: $form-green-focus;
            box-shadow: inset 7px 7px 13px #bcbcbc, inset -7px -7px 13px #fefefe;
        }
    }
}

.form-step {
    display: flex !important;
    align-items: center !important;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
}

.logo-link {
    position: fixed;
    bottom: -2%;
    left: -2%;
    height: 15vh;
    padding: 0;
    z-index: 999999999;

    img {
        border-radius: 50%;
        max-height: 100%;
        transition: box-shadow 0.3s $cubic-bezier, transform 0.2s $cubic-bezier;
    }

    @media screen and (min-width: 768px) {
        top: 1%;
        left: 1%;
    }

    &:hover,
    &:focus {
        img {
            box-shadow: 0 0 30px rgba($color: #fff, $alpha: 0.3);
            transform: scale(1.05);
        }
    }
}
