@import url(https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto:wght@500;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap);
/* ============
   global
=============*/
html,
body {
  margin: 0;
  font-family: "Yaldevi", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #dddddd;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  overflow-y: hidden;
}

:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.app {
  position: relative;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin: 0.3em 0;
  font-weight: 100;
}

p {
  margin: 0;
}

/* ============
   typography
=============*/
.pirata {
  font-family: "Pirata One", cursive;
}

.title {
  margin-top: 0;
  font-size: clamp(3.2rem, 8vw, 6rem);
}

.bigger-subtitle {
  font-size: clamp(2.3rem, 6vw, 4rem);
}

.subtitle {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.success,
.error {
  position: relative;
  text-align: center;
}

.success::after,
.error::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 0.1em;
}

.success::after {
  background-color: #198754;
}

.error::after {
  background-color: #dc3545;
}

/* ============
  basic layout
=============*/
.container,
.container-i {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 92%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

.container-i {
  width: 60%;
}
@media screen and (min-width: 512px) {
  .container-i {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .container-i {
    width: 80%;
  }
}

.dual-col {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}
@media screen and (min-width: 1200px) {
  .dual-col {
    grid-template-columns: 50% 50%;
  }
}

.p {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p {
    width: 50%;
  }
}
.p.text-center {
  margin: auto;
  text-align: center;
}

.section-header {
  text-align: center;
}

.email {
  color: #1d995f;
}

.email-white {
  color: #dddddd;
}

.invis-for-nav {
  visibility: hidden;
  margin-top: -80px;
}

.euro {
  font-size: 0.7em;
}

section {
  display: flex;
  position: relative;
  min-height: 100vh;
}
section.white {
  background-color: #dddddd;
  color: #1a1a1a;
}
section.black {
  background-color: #1a1a1a;
  color: #dddddd;
}

/* ============
  animations
=============*/
.cleary-prep {
  transition: filter 0.3s ease;
}

.cleary {
  filter: blur(2px) brightness(80%);
}

@-webkit-keyframes text-anim {
  0% {
    background-position: left;
  }
  7% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  10% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  30% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  35% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  100% {
    background-position: right;
  }
}

@keyframes text-anim {
  0% {
    background-position: left;
  }
  7% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  10% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  30% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  35% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes text-anim-shadow {
  7% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  10% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  30% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  35% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
}
@keyframes text-anim-shadow {
  7% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  10% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  30% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  35% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
}
@-webkit-keyframes border-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes border-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes jumpy-dot {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes jumpy-dot {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
/* ============
   components
=============*/
.btn-nav {
  font-family: "Pirata One", cursive;
  font-size: clamp(1.5rem, 4vw, 2rem);
  text-decoration: none;
  transition: transform 0.3s cubic-bezier(0.55, -1, 0.51, 1.85), text-shadow 0.3s cubic-bezier(0.55, -1, 0.51, 1.85);
  color: #dddddd;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
}
.btn-nav:hover, .btn-nav:focus {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  transform: translate(2%, -5%);
}
.btn-nav:hover::after, .btn-nav:focus::after {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.btn-nav.cur::after {
  transform: scaleX(1);
}

.btn-nav::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.05em;
  background-color: #dddddd;
  border-radius: 0.1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scaleX(0);
  transition: transform 0.3s ease, box-shadow 0.3s cubic-bezier(0.55, -1, 0.51, 1.85);
}

.btn-img img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s cubic-bezier(0.55, -1, 0.51, 1.85), box-shadow 0.3s cubic-bezier(0.55, -1, 0.51, 1.85);
}
.btn-img:hover img, .btn-img:focus img {
  transform: translate(2%, -5%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.spacer {
  height: 33.333vw;
  width: 100vw;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.spacer.flip {
  transform: rotateX(180deg);
}

.wave {
  background-image: url("/images/waves.svg");
  margin-bottom: 11vw;
}
.wave.flip {
  margin-bottom: 0;
  margin-top: 11vw;
}

.wave::after {
  content: "";
  background-color: #1a1a1a;
  height: 12vw;
  width: 100vw;
  position: absolute;
  bottom: -12vw;
}

.wave-start {
  background-image: url("/images/waves-start.svg");
  margin-bottom: 11vw;
}
.wave-start.flip {
  margin-bottom: 0;
  margin-top: 11vw;
}

.wave-start::after {
  content: "";
  background-color: #dddddd;
  height: 12vw;
  width: 100vw;
  position: absolute;
  bottom: -12vw;
}

/* ============
   navigation
=============*/
nav {
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #1d995fe0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  height: 80px;
  transition: background-color 0.3s;
  display: flex;
}
nav ul {
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
  flex-basis: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  padding: 0 2%;
}
nav li a {
  display: block;
}
nav li a.shopping-cart {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
nav li .fa-shopping-cart {
  font-size: clamp(1rem, 3vw, 1.5rem);
}
nav li:last-of-type {
  position: absolute;
  right: 10px;
}
@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
  nav {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    background-color: #1d995f83;
  }
}
nav.off-start {
  background-color: #1d995fe0;
}

.cart-div {
  position: relative;
}

.cart-div:focus-within .cart-items {
  transform: scaleY(1);
}

.empty-cart {
  display: flex;
  justify-content: center;
  color: #00000080;
}

.cart-items {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  transition: transform ease 0.3s;
  transform: scaleY(0);
  transform-origin: top;
  padding: 1em;
  background: #1d995f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px 0 10px 10px;
}
.cart-items img {
  max-height: 60px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}
.cart-item a {
  color: #dc3545;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: 700;
  cursor: pointer;
}
.cart-item-title {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.cart-checkout {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-decoration: none;
  padding: 0.7em 0.5em;
  margin-top: 2em;
  color: #dddddd;
  border-radius: 10px;
  background: linear-gradient(145deg, #1fa466, #1a8a56);
  box-shadow: 5px 5px 10px #198251, -5px -5px 10px #21b06d;
}
.cart-checkout:hover {
  background: #1d995f;
  box-shadow: inset 5px 5px 10px #198251, inset -5px -5px 10px #21b06d;
}

.logo-link {
  position: fixed;
  bottom: -2%;
  left: -2%;
  height: 15vh;
  padding: 0;
  z-index: 999999999;
  transform: translateX(-80%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.55, -1, 0.51, 1.85), opacity 0.8s cubic-bezier(0.55, -1, 0.51, 1.85);
}
.logo-link img {
  border-radius: 50%;
  max-height: 100%;
  transition: box-shadow 0.3s cubic-bezier(0.55, -1, 0.51, 1.85), transform 0.2s cubic-bezier(0.55, -1, 0.51, 1.85);
}
@media screen and (min-width: 768px) {
  .logo-link {
    top: 1%;
    left: 1%;
  }
}
.logo-link:hover img, .logo-link:focus img {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}
.logo-link.off-start {
  opacity: 1;
  transform: translateX(0);
}

/* ============
     footer
=============*/
footer {
  background-image: url("/images/bgs-smaller.jpg");
  background-size: cover;
  background-color: #d5d5d5;
  background-blend-mode: multiply;
  color: #dddddd;
}
@media screen and (min-width: 1000px) {
  footer {
    background-image: url("/images/bgs-small.jpg");
  }
}
footer .spacer.wave-start.flip {
  margin-bottom: -11vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  position: relative;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
  .footer > div {
    padding: 2%;
  }
}
.footer img {
  max-width: 30px;
  border-radius: 7px;
}
.footer .holds-less {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .ig-link {
  margin: 30px 0;
}
.footer .less {
  font-size: 0.8rem;
}
.footer .more {
  font-size: 1.2rem;
}

/* ============
 first section
=============*/
#landing {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-color: #d5d5d5;
  background-blend-mode: multiply;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
@media screen and (min-width: 1000px) {
  #landing {
    background-image: url("/images/bgs-small.jpg");
  }
}
#landing .container {
  color: #dddddd;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}
#landing h1 {
  margin: 0;
}
#landing .subtitle span {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  -webkit-animation: text-anim-shadow 10s infinite;
          animation: text-anim-shadow 10s infinite;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  #landing .subtitle span {
    background-image: linear-gradient(100deg, #dddddd 30%, #c7c7c7 30%, #dddddd 34%);
    -webkit-background-clip: text;
            background-clip: text;
    background-size: 400%;
    -webkit-animation: text-anim 10s infinite;
            animation: text-anim 10s infinite;
    color: transparent;
  }
}

/* ============
 about section
=============*/
.blob-container {
  display: flex;
  align-items: flex-end;
}

.blob-image {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: -50px;
}
@media screen and (min-width: 650px) {
  .blob-image {
    width: 75%;
  }
}
@media screen and (min-width: 950px) {
  .blob-image {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .blob-image {
    width: 100%;
  }
}

/* ============
 items n such
=============*/
/* type */
.type {
  margin-bottom: 3%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

/* individual item */
.item::before {
  content: "";
  padding-top: 100%;
  display: block;
}

.item {
  position: relative;
  flex-basis: 100%;
}
@media screen and (min-width: 512px) {
  .item {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .item {
    flex-basis: 33.333%;
  }
}

.item-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.item-img picture {
  display: flex;
}
.item-img img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: max-width 0.2s ease-out 0s, margin-left 0.2s ease-out 0s;
}

.details {
  position: absolute;
  left: 50%;
  padding: 1rem;
  width: 150%;
  z-index: 999;
  transform: translateX(-50%) scaleX(0);
  opacity: 0;
  border-radius: 0 0 10px 10px;
  transition: transform 0.4s, opacity 0.15s;
}
.details h1,
.details p,
.details img,
.details div,
.details a {
  opacity: 0;
  --delay: 0s;
  --time: 0.05s;
  transition: opacity var(--time) ease-in var(--delay);
}
.details .add-to-cart {
  display: inline-block;
  padding: 0.3em 0.5em;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: text-shadow 0.3s ease, opacity var(--time) ease-in var(--delay);
  background: #1a1a1a;
  box-shadow: 6px 6px 12px #0a0a0a, -6px -6px 12px #2a2a2a;
  border-radius: 10px;
}
.details .add-to-cart:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  background: #1a1a1a;
  box-shadow: inset 6px 6px 12px #0a0a0a, inset -6px -6px 12px #2a2a2a;
}
.details img {
  max-width: 0;
}
.details h1 {
  margin-top: 0;
}
.details p {
  padding: 1em 0;
}

.details::before,
.details::after {
  position: absolute;
  content: "";
  top: 0;
  transform: scale(0);
  transform-origin: top;
  --time: 0.4s;
  transition: transform ease var(--time) 0.05s;
}

.details::before {
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/images/bgs-border.jpg");
  background-size: 400%;
  -webkit-animation: border-anim 120s infinite alternate;
          animation: border-anim 120s infinite alternate;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: -2;
}

.details::after {
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-color: #1a1a1a;
  border-radius: 0 0 10px 10px;
  z-index: -1;
}

.item.on .item-img img {
  margin-left: calc(-25% - 1rem);
  max-width: calc(150% + 2rem);
  transition: max-width 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s;
}
.item.on .details {
  transform: translateX(-50%) scaleX(1);
  opacity: 1;
}
.item.on .details h1,
.item.on .details p,
.item.on .details img,
.item.on .details div,
.item.on .details a {
  opacity: 1;
  --time: 0.3s;
  --delay: 0.3s;
}
.item.on .details::before,
.item.on .details::after {
  transform: scale(1);
  --time: 0.4s;
}

/* ============
contact section
=============*/
.contact-form {
  border-radius: 50px;
  box-shadow: 20px 20px 41px #bcbcbc, -20px -20px 41px #fefefe;
  padding: 40px;
  margin: 100px auto;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}

.contact-form-input {
  padding-bottom: 10px;
}
.contact-form-input label {
  margin-left: 10px;
  opacity: 0.7;
}
.contact-form-input input,
.contact-form-input textarea,
.contact-form-input select,
.contact-form-input button,
.contact-form-input select {
  display: block;
  width: calc(100% - 40px);
  border: none;
  color: #000000b3;
  background-color: inherit;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 7px 7px 13px #bcbcbc, -7px -7px 13px #fefefe;
  transition: background-color 0.3s ease;
}
@supports (box-shadow: inset 7px 7px 13px #bcbcbc, inset -7px -7px 13px #fefefe) {
  .contact-form-input input,
.contact-form-input textarea,
.contact-form-input select,
.contact-form-input button,
.contact-form-input select {
    box-shadow: inset 7px 7px 13px #bcbcbc, inset -7px -7px 13px #fefefe;
  }
}
.contact-form-input input:focus,
.contact-form-input textarea:focus,
.contact-form-input select:focus,
.contact-form-input button:focus,
.contact-form-input select:focus {
  background-color: #1d995f27;
}
@media screen and (min-width: 768px) {
  .contact-form-input.inline {
    display: flex;
  }
  .contact-form-input.inline .inline-group {
    flex: 1;
  }
}
.contact-form-input textarea {
  resize: none;
}
.contact-form-input input[type=submit],
.contact-form-input button {
  width: auto;
  margin: auto;
  box-shadow: 7px 7px 13px #bcbcbc, -7px -7px 13px #fefefe;
  transition: background-color 0.3s ease;
}
.contact-form-input input[type=submit]:hover, .contact-form-input input[type=submit]:focus,
.contact-form-input button:hover,
.contact-form-input button:focus {
  width: auto;
  margin: auto;
  background-color: #1d995f83;
  box-shadow: inset 7px 7px 13px #bcbcbc, inset -7px -7px 13px #fefefe;
}

.contact-form-status {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  transform: translate(-50%, 100%);
  transition: transform 0.3s ease;
  font-weight: bold;
}
.contact-form-status.nonfail {
  color: #198754;
}
.contact-form-status.fail {
  color: #dc3545;
}
.contact-form-status.show {
  transform: translate(-50%, 0);
}

.contact-form-load {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  display: none;
}
.contact-form-load.show {
  display: block;
}
.contact-form-load span {
  display: inline-block;
}
.contact-form-load .span-dot-1 {
  -webkit-animation: jumpy-dot 0.6s ease 0s infinite;
          animation: jumpy-dot 0.6s ease 0s infinite;
}
.contact-form-load .span-dot-2 {
  -webkit-animation: jumpy-dot 0.6s ease 0.1s infinite;
          animation: jumpy-dot 0.6s ease 0.1s infinite;
}
.contact-form-load .span-dot-3 {
  -webkit-animation: jumpy-dot 0.6s ease 0.2s infinite;
          animation: jumpy-dot 0.6s ease 0.2s infinite;
}
